<?xml version="1.0" encoding="UTF-8"?>
<suite name="SwaggerAPISuite" parallel="none" >
    <listeners>
        <listener class-name="api.utilities.ListenerClass"/>
    </listeners>

    <test name="SwaggerAPIRegression">
        <classes>
            <class name="api.test.PetTest"/>
            <class name="api.test.UserTest"/>
            <class name="api.test.StoreTest"/>
        </classes>
    </test>
</suite>